QObject {
    background-color: rgb(56, 53, 53);
}

QObject#navBar {
    border-bottom: 5px solid rgb(41, 85, 239);
}

QPushButton {
    background-color: rgb(41, 85, 239);
    color: white;
    text-align: center;
    border: none;
    border-radius: 12px;
}

QPushButton:hover {
    background-color: rgb(31, 75, 229);
}

QLabel#title {
    color: rgb(41, 85, 239);
    font-family: "Comic Sans MS";
    font-size: 50px;
}